/* src/components/WhyChooseUs.css */

.why-choose-section {
background: #0b2554;
  padding: 60px 20px;
  text-align: center;
  animation: fadeIn 1s ease-in;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.why-title {
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
 font-weight: bold;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature-card {
 background: linear-gradient(100deg, #3989da, #9ec6ee);
  border-radius: 20px;
  padding: 30px;
  width: 250px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideUp 0.8s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  font-weight: bolder;
}

.feature-card p {
  color: white;
  font-size: 15px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
